[submodule "formulas/ceilometer"]
	path = formulas/ceilometer
	url = https://github.com/openstack/salt-formula-ceilometer.git
[submodule "formulas/cinder"]
	path = formulas/cinder
	url = https://github.com/openstack/salt-formula-cinder.git
[submodule "formulas/glance"]
	path = formulas/glance
	url = https://github.com/openstack/salt-formula-glance.git
[submodule "formulas/heat"]
	path = formulas/heat
	url = https://github.com/openstack/salt-formula-heat.git
[submodule "formulas/horizon"]
	path = formulas/horizon
	url = https://github.com/openstack/salt-formula-horizon.git
[submodule "formulas/keystone"]
	path = formulas/keystone
	url = https://github.com/openstack/salt-formula-keystone.git
[submodule "formulas/neutron"]
	path = formulas/neutron
	url = https://github.com/openstack/salt-formula-neutron.git
[submodule "formulas/nova"]
	path = formulas/nova
	url = https://github.com/openstack/salt-formula-nova.git
[submodule "formulas/opencontrail"]
	path = formulas/opencontrail
	url = https://github.com/openstack/salt-formula-opencontrail.git
