[submodule "formulas/ceilometer"]
	path = formulas/ceilometer
	url = https://git.openstack.org/openstack/salt-formula-ceilometer
[submodule "formulas/cinder"]
	path = formulas/cinder
	url = https://git.openstack.org/openstack/salt-formula-cinder
[submodule "formulas/glance"]
	path = formulas/glance
	url = https://git.openstack.org/openstack/salt-formula-glance
[submodule "formulas/heat"]
	path = formulas/heat
	url = https://git.openstack.org/openstack/salt-formula-heat
[submodule "formulas/horizon"]
	path = formulas/horizon
	url = https://git.openstack.org/openstack/salt-formula-horizon
[submodule "formulas/keystone"]
	path = formulas/keystone
	url = https://git.openstack.org/openstack/salt-formula-keystone
[submodule "formulas/midonet"]
	path = formulas/midonet
	url = https://git.openstack.org/openstack/salt-formula-midonet
[submodule "formulas/neutron"]
	path = formulas/neutron
	url = https://git.openstack.org/openstack/salt-formula-neutron
[submodule "formulas/nova"]
	path = formulas/nova
	url = https://git.openstack.org/openstack/salt-formula-nova
[submodule "formulas/opencontrail"]
	path = formulas/opencontrail
	url = https://git.openstack.org/openstack/salt-formula-opencontrail
[submodule "formulas/swift"]
	path = formulas/swift
	url = https://git.openstack.org/openstack/salt-formula-swift
[submodule "formulas/linux"]
	path = formulas/linux
	url = https://github.com/tcpcloud/salt-formula-linux.git
[submodule "formulas/openssh"]
	path = formulas/openssh
	url = https://github.com/tcpcloud/salt-formula-openssh.git
[submodule "formulas/salt"]
	path = formulas/salt
	url = https://github.com/tcpcloud/salt-formula-salt.git
